[Unit]
Description=Servicio Bot del alumno09.

[Service]
Type=simple
ExecStart=/usr/bin/ruby /usr/local/bin/bot09d

[Install]
WantedBy=multi-user.target
